<div class="row g-4 mb-4">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header bg-white">
                <i class="bi bi-graph-up me-2"></i>Ventas del Mes Actual (Diarias)
            </div>
            <div class="card-body">
                <div style="height: 300px;">
                    <canvas id="chartVentasMes"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header bg-white">
                <i class="bi bi-graph-down me-2 text-secondary"></i>Ventas del Mes Anterior (Diarias)
            </div>
            <div class="card-body">
                <div style="height: 300px;">
                    <canvas id="chartVentasMesAnterior"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>