<ul class="nav nav-tabs" id="tabsCocina" role="tablist">
    <% if (user && user.rol !=='mesero' ) { %>
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tabCola-tab" data-bs-toggle="tab" href="#tabCola" data-bs-target="#tabCola"
                role="tab" aria-controls="tabCola" aria-selected="true">
                En cocina
            </a>
        </li>
        <% } %>
            <li class="nav-item" role="presentation">
                <a class="nav-link <%= user && user.rol === 'mesero' ? 'active' : '' %>" id="tabListos-tab"
                    data-bs-toggle="tab" href="#tabListos" data-bs-target="#tabListos" role="tab"
                    aria-controls="tabListos" aria-selected="<%= user && user.rol === 'mesero' ? 'true' : 'false' %>">
                    Listos
                </a>
            </li>
</ul>
<div class="tab-content pt-3">
    <% if (user && user.rol !=='mesero' ) { %>
        <div class="tab-pane fade show active" id="tabCola" role="tabpanel" aria-labelledby="tabCola-tab">
            <div class="card">
                <div class="card-header">En cola / Preparando</div>
                <div class="card-body">
                    <div id="listaCola" class="vstack gap-2"></div>
                </div>
            </div>
        </div>
        <% } %>
            <div class="tab-pane fade <%= user && user.rol === 'mesero' ? 'show active' : '' %>" id="tabListos"
                role="tabpanel" aria-labelledby="tabListos-tab">
                <div class="card">
                    <div class="card-header">Listos</div>
                    <div class="card-body">
                        <div id="listaListos" class="vstack gap-2"></div>
                    </div>
                </div>
            </div>
</div>